# DFX CANISTER ENVIRONMENT VARIABLES
DFX_VERSION='0.28.0'
DFX_NETWORK='local'
CANISTER_ID_INTERNET_IDENTITY='xxxx-xxxx-xxxx-xxx'
CANISTER_ID_VAULT_APP0_BACKEND='xxxx-xxxx-xxxx-xxx'
CANISTER_ID_VAULT_APP0_FRONTEND='xxxx-xxxx-xxxx-xxx'
CANISTER_ID='xxxx-xxxx-xxxx-xxx'
CANISTER_CANDID_PATH='xxxx-xxxx-xxxx-xxx/vault_app0_backend.did'
# END DFX CANISTER ENVIRONMENT VARIABLES

# OTHER KEYS
ASI1_API_KEY='xxxx-xxxx-xxxx-xxx'
OPENAI_API_KEY='sk-xxxxxxxx'
COINGECKO_API='CG-xxxxxxxxx'
VAULT_APP0_BACKEND_URL='https://xxxx'